{% extends 'base.html' %}

# Primer bloque
{% block content1 %}
{% if user.is_authenticated %}
<a class="navbar-brand" href="/inicio">
    {{mensaje}} /
</a>
<a class="navbar-brand" href="/perfil">
{{user}}
</a>
{% else %}
<a class="navbar-brand" href="/inicio">
    {{mensaje}} 
</a>
{% endif %}
{% endblock %}

{% load static %}
{% block content2 %}
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">                
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'assets\marketlike2.jpg' %}" alt="..." /></div> 
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Simulador de Riesgo Agrícola</h1>
                    <p>Registra nuevos solicitantes, asocia proyectos y consulta el riesgo</p>
            </div>
            </div>
{% endblock %}

{% block contentbar %} 
{% endblock %}

