{% extends 'base.html' %} 

# Primer bloque
{% block content1 %}
{% if user.is_authenticated %}
<a class="navbar-brand" href="/inicio">
    {{mensaje}} /
</a>
<a class="navbar-brand" href="/perfil">
{{user}}
</a>
{% else %}
<a class="navbar-brand" href="/inicio">
    {{mensaje}} 
</a>
{% endif %}
{% endblock %}

# Segundo bloque
{% block content2 %}
<div class="container">
  <p style="color: red;">{{error_message}}</p>
</div>
{% endblock %}

{% block contentbar %}
{% endblock %}

# Tercer bloque
{% block content3 %}
<div class="container">
  <h1>Registro</h1>
  <form method="POST" class="mi-formulario" style="display: inline-block;">
    {% csrf_token %}
    <div class="mi-formulario>
      <label for="id_username">Usuario:</label>
      {{ form.username.errors }}
      {{ form.username }}

      <label for="id_username">Nombres:</label>
      {{ form.username.errors }}
      {{ form.nombres }}

      <label for="id_username">Apellidos:</label>
      {{ form.username.errors }}
      {{ form.apellidos }}

      <label for="id_password1">Contraseña:</label>
      {{ form.password1.errors }}
      {{ form.password1 }}

      <label for="id_password2">Confirmacion:</label>
      {{ form.password2.errors }}
      {{ form.password2 }}

      <label for="id_email">Email:</label>
      {{ form.email.errors }}
      {{ form.email }}
    </div>
    <div class="boton-container">
      <button type="submit" class = "btn btn-primary"  href="#" role="button">
        Signup
      </button>
    </div>    

  </form>

</div>
</form>
{% endblock %}